/*
div#chat_container
{
  position: static;
  display: inline-block;
  border: solid black;
}
*/

div#user_sidebar
{
  background-color: white;
  position: absolute;
  display: inline-block;
  float: right;
  height: 100%;
  border: solid black;
}

div.inner 
{
  position: relative;
}

div#chat_area
{
  position: static;
  background-color: white;
  resize: none;
  min-height: 90%;
  max-height: 90%;
  overflow-y: scroll;
}

div#chat_area .inner
{
  display: table;
  width: 100%;
  height: 100%;
}

div#chat_area .inner span
{
  display: table-row;
  width: 100%;
  resize: none;
  vertical-align: bottom;
  height: 1px;
}

div.chat_container
{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

div#chat_actions
{
  display: inline;
  padding-top: 5px;
  position: absolute;
  min-width: 100%;
  height: 30px;
  bottom: 0px;
}

div#chat_actions button
{
}
