{% extends 'site_base.html' %}
{% block head %}
  <link rel="stylesheet" href="/static/css/chat.css"/>
  <script src="/static/js/ChatClient.js"></script>
  <script src="/static/js/ChatArea.js"></script>
  <script src="/static/js/ChatSidebar.js"></script>
  <script src="/static/js/chat_room.js"></script>
{% endblock %}

{% block content %}
  <div class='jumbotron chat-container'>
    <div class="chat-row">
      <div id='chat_area'>
        <div class="filler">
        </div>
      </div>
      <div id='user_sidebar'>
        <h2>Current Users</h2>
        <ul>
          <li>Jared</li>
          <li>Justin</li>
          <li>Jimmy Bob</li>
          <li>Asdf</li>
        </ul>
      </div>
    </div>
    <div class="chat-row">
      <input id="chat_input" type="text"></input>
      <button id="chat_send">Send</button>
      <button id='logout-btn'>logout</button>
    </div>
  </div>
{% endblock %}
