{% extends 'site_base.html' %}
{% block head %}
  <link rel="stylesheet" href="/static/css/chat.css"/>
  <script src="/static/js/ChatClient.js"></script>
  <script src="/static/js/ChatArea.js"></script>
  <script src="/static/js/ChatSidebar.js"></script>
  <script src="/static/js/chat_room.js"></script>
{% endblock %}

{% block content %}
  <div class='jumbotron chat-container'>
    <div class="chat-row">
      <div id='chat_area'>
        <div class="message">
        </div>
        <div class="message">
          <b>Justin</b> Hey dude waddup?
        </div>
        <div class="message"> 
          <b>Jared</b> Not much man how you doin?
        </div>
        <div class="message"> 
         <b>Bob</b> Great man! Just fucking swell
        </div>
        <div class="message"> 
          <b>Bobby Flay</b> Good to hear guys
        </div>
        <div class="message"> 
         <b>Bob</b> Great man! Just fucking swell
        </div>
        <div class="message"> 
         <b>Bob</b> Great man! Just fucking swell
        </div>
        <div class="message"> 
         <b>Bob</b> Great man! Just fucking swell
        </div>
      </div>
      <div id='user_sidebar'>
        <h2>Current Users</h2>
        <ul>
          <li>Jared</li>
          <li>Justin</li>
          <li>Jimmy Bob</li>
          <li>Asdf</li>
        </ul>
      </div>
    </div>
    <div class="chat-row">
      <input type="text"></input>
      <button class="send-msg">Send</button>
      <button id='logout-btn'>logout</button>
    </div>
  </div>
{% endblock %}
