<!DOCTYPE html>
<html>
  <head>
    <!--TODO: create a way to dynamically load themes without having to hardcode the *theme*.bootstrap.css file include-->
    <link rel="stylesheet" href="/static/css/lib/bootswatch-dist/bootstrap.min.css" type="text/css">
    <script src="/static/js/lib/jquery/jquery.min.js"></script>
    <script src="/static/js/lib/bootswatch-dist/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <script src="/shared/Message.js"></script>
    <script src="/shared/Error.js"></script>
    <script src="/shared/Util.js"></script>
    <script src="/shared/Settings.js"></script>

    <script src="/static/js/lib/q/q.js"></script>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div class='container'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
